@{
	ViewBag.Title = "SOT (By Volume) Report";
}
<link href="~/Content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
<link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap/css/MDB.css" rel="stylesheet" />
<link href="~/Content/bootstrap/css/jquery-min.css" rel="stylesheet" />
<link href="~/Content/bootstrap/css/print.css" media="print" rel="stylesheet" />
<link href="~/Content/bootstrap/css/jquery.ui.autocomplete.css" rel="stylesheet" />
<script src="~/Content/bootstrap/js/jquery1.8.2.min.js"></script>
<script src="~/Content/bootstrap/js/jQuery%20UI%201.9.2.js"></script>
<script src="~/Content/bootstrap/js/bootstrap.js"></script>
<script src="~/Content/bootstrap/js/jquery.mtz.monthpicker.js"></script>

<!-- glyphicons help -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


<script>
    $(document).ready(function () {
        $('#fromdat').monthpicker();
    });
</script>


<script>
    $(document).ready(function () {
        $('#frommonth').monthpicker();

    });
    $(document).ready(function () {
        $('#tomonth').monthpicker();

    });
</script>

<div class="bcgr" style="min-height: 580px">
	@using (Html.BeginForm("SOTByVol", "Reports", FormMethod.Get))
	{
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true)
		<div style="background: gray; padding-bottom: 15px">
			<p class="txtft">SOT (By Volume) Report</p>
		</div>
		<div class="row" style="padding-top: 10px">
			<div class=" row show-grid">
				<div class="span10 pad">
					<div class="span3" style="padding-left: 70px">
						<div class="control-group">
							<label class="control-label fntst">SOT Month :</label>
							<div class="controls">
								<input style="height:30px" type="text" class="printButtonClass noPrint fntst sss" id="frommonth" name="frommonth" placeholder="Select Month" />
							</div>
						</div>
					</div>
					<div class="span3" style="padding-left: 70px">
						<div class="control-group">
							<label class="control-label fntst">BYJT Chances :</label>
							<div class="controls">
								<select id="byjt" name="byjt" class="input-medium fntst">
										<option value="">Select Option</option>
										<option value="20">20% and Above</option>
										<option value="40">40% and Above</option>
										<option value="60">60% and Above</option>
										<option value="80">80% and Above</option>
									</select>
							</div>
						</div>
					</div>
					<div class="span3" style="padding-left: 70px">
						<div class="control-group">
							<label class="control-label fntst">Machine Type</label>
							<div class="controls">
								@*<input type="text" class="fntst sss" id="todat" name="todat" value="" placeholder="Select To Date" required="required">*@
								<select id="macty" name="macty" class="fntst" required="required">
								  <option value="CCD">CCD Machines</option>
								  <option value="CMOS">CMOS Machines</option>
                                     <option value="W">WSeries</option>
								  <option value="ALL">All Machines</option>
								  @*<option value="mercedes">Mercedes</option>
								  <option value="audi">Audi</option>*@
								</select>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
		 @* Wrong Channel Partner *@
		if (TempData["NoVal"] != null)
		{
			<p style="color: red; font-weight: 900; padding-left: 170px">@TempData["NoVal"]</p>
		}
		<div class="span10 pad ">
			<div class="span3 cent" style="padding-left: 70px">
				<button class="btn btn-success glyphicon glyphicon-copy" value="Create" type="Submit"> Generate Report</button>
			</div>
		</div>
	}
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}