<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Synergy - Dashboard</title>
	<script type="text/javascript">
		$(document).ready(function () {
			var tabs = $('.tabsm > li');
			tabs.on("click", function () {
				tabs.removeClass('active');
				$(this).addClass('active');
			});
		});
	</script>
</head>
<body style="margin: 0 auto">
	@{
		ViewBag.Title = "Synergy";
	}
	<div class="bcgr" style="margin: 0 auto;min-height:550px">
		<div style="background: gray; padding-bottom: 15px">
			<p class="txtft">Sales Order Processing</p>
		</div>
		<div style="padding-top: 100px; padding-bottom: 200px; margin: 0 auto;padding-left:200px">
			<table style="text-align: center; margin: 0 auto; width: 900px; height: 220px;">
				<tr style="padding-bottom: 10px">
					<td align="center" style="background: #fff8dc; width: 225px; height: 100px; font-family: Calibri; font-size: 16px; border-radius: 31px">
						<a href="/OA/OAApproval" style="text-decoration: none">
							<figure>
								<img src="~/Content/bootstrap/img/report_check.png" alt='missing' />
								<figcaption><strong>Approve New Orders</strong></figcaption>
							</figure>
						</a>
					</td>
					<td></td>
					<td></td>

					<td align="center" style="background: #fff8dc; width: 225px; height: 100px; font-family: Calibri; font-size: 16px; border-radius: 31px">
						<a href="/OA/OAAllView" style="text-decoration: none">
							<figure>
								<img src="~/Content/bootstrap/img/icon_trends_lg.png" alt='missing' />
								<figcaption><strong>Order Status Tracker</strong></figcaption>
							</figure>
						</a>
					</td>

					<td></td>
					<td></td>
					@*<td align="center" style="background: #fff8dc; width: 225px; height: 100px; font-family: Calibri; font-size: 16px; border-radius: 31px">
						<a href="/HOD/HOD" style="text-decoration: none">
							<figure>
								<img src="~/Content/bootstrap/img/Ecommerce-Handshake-icon.png" alt='missing' />
								<figcaption><strong>Hand Over Document</strong></figcaption>
							</figure>
						</a>
					</td>*@

					<td></td>
					<td></td>
					
					</tr>
					
			</table>
		</div>
	</div>
</body>
</html>

